@media (max-width: 1199px) {
    #content{
        margin-top: 5%;
    }
}

.banner_part:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background-color: #00000000;
    width: 196px;
    height: 618px;
}

.btn-qr{
    text-align: center;
}

.footer_part .footer_iner {
    padding: 50px 0;
}

.footer_part .footer_iner2 {
    padding: 2% 0;
}

.btn_1{
    background-color: #24085E;
    border-color: #24085E;
}

.btn_1:hover{
    color: #24085E;
} */

.btn_3{
    background-color: #fff;
    border-color: #24085E;
    color: #24085E;
}

.btn_3:hover{
    color: #fff;
    background-color: #24085E;
}

.bg-bbelt{
    background-color: #24085E;
}

img.product_overlay.img-fluid {
    padding-right: 15%;
    background-color: currentColor;
}

i.fa.fa-power-off.me-sm-1{
    margin-left: 0px;
}

#logo-bbelt{
    width: 60%;
    padding-top: 5px;
}

#logo-bbelt-0{
    width: 13%;
    padding-top: 5px;
    margin-bottom: 5%;
}

#logo-bbelt-2{
    width: 15%;
    padding-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

#logo-bbelt-3{
    width: 10%;
    padding-top: 5px;
    margin-bottom: 5%;
}

#logos-con{
    text-align: center;
    margin-top: 2%;
}

#con-pub{
    background-image: url("../../assets_2/img/bg.png");
}

.banner_part {
    display: block;
    margin-top: 5%;
}

#data_name{
    font-size: x-large;
}

#thiscert{

}

@media (max-width: 576px) {
    #card-cons{
        margin: 5%;
    }

    #logo-bbelt-0{
        width: 25%;
        padding-top: 5px;
        margin-bottom: 5%;
    }
    
    #logo-bbelt-2{
        width: 27%;
        padding-top: 5px;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    
    #logo-bbelt-3{
        width: 22%;
        padding-top: 5px;
        margin-bottom: 5%;
    }

    #data_name{
        font-size: medium;
    }
    
    #this-cert{
        font-size: large;
    }
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        margin-left: 40%;
    }
}